<footer class="bg-light text-center text-muted py-3 mt-5 border-top">
  <div>
     © {{year}} To-do App by Việt Anh |
    <a href="https://github.com/tenban" target="_blank">GitHub</a>
  </div>
</footer>
